<section class="dom-manipulation">
  <h2 class="heading">
    Renderer2 for DOM Manipulation: When performing direct DOM manipulation, use
    Renderer2 for tasks such as adding/removing elements, updating styles, or
    modifying attributes. This ensures that changes are properly integrated into
    Angular's change detection and security mechanisms.
  </h2>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
    laudantium?
  </p>

  <div id="myDiv">This is my div</div>
</section>
