@import "../../../scss/mixins";

.form {
  width: 50rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 4rem 4rem;
  margin: 0 auto;
  border-radius: 3px;

  &__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 100%;
    display: block;
    border: 2px solid var(--color-grey-dark-3);
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    border-radius: 3px;
    transition: all 0.2s;

    &:focus {
      outline: none;
      transform: scaleX(1.01);
    }

    &::placeholder {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }

  &__label {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.3rem;
  }

  &__button {
    @include btnStyle;
    background-color: var(--primary-color);
    color: var(--color-white);
    transition: all 0.2s;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;

    &:hover {
      background-color: var(--primary-light-color);
      transform: scale(1.01);
    }
  }

  .disabled-button {
    background-color: var(--color-grey-dark-3);
    color: var(--color-white);
    cursor: not-allowed;
  }

  &__caption {
    font-weight: 800;
    color: var(--color-grey-dark-1);
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: underline;
  }

  &__error-message {
    color: orangered;
    font-size: 1rem;
  }
}

.form-group {
  margin-bottom: 2rem;
}
