.ng-templates {
}

.paragraph {
  margin: 1.5rem 0;
}

.btn {
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 40px;
}
