@import "../../../scss/mixins";

.container {
  padding: 2rem 4rem;
}

.list {
  &__item {
    margin: 1rem 0rem;
  }
}

table,
tr,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table {
  margin: 2rem 0rem;

  &__highlight {
    background-color: var(--color-grey-light-4);
  }

  &__cell {
    padding: 1rem;
  }
}

.btn {
  @include btnStyle;
  background-color: var(--primary-color);
}
