<table class="table">
  <thead class="table__head">
    <tr class="table__row">
      <th class="table__head-item">Firstname</th>
      <th class="table__head-item">Lastname</th>
      <th class="table__head-item">Age</th>
      <th class="table__head-item">Email</th>
      <th class="table__head-item">Get All Date</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let user of users" class="table__row">
      <td class="table__body-item">{{ user.firstName }}</td>
      <td class="table__body-item">{{ user.lastName }}</td>
      <td class="table__body-item">{{ user.age }}</td>
      <td class="table__body-item">{{ user.email }}</td>
      <td class="table__body-item">
        <button
          type="button"
          class="btn btn-primary"
          (click)="getUserData(user.id)"
        >
          Get User
        </button>
      </td>
    </tr>
  </tbody>
</table>
