<div class="row">
  <div class="col-md-8">
    <a [routerLink]="['add-post']" class="btn btn-primary">Add Post</a>
    <h3>Posts list</h3>
    <table class="table table-striped" *ngIf="posts$ | async as postData">
      <thead>
        <tr>
          <th>Id</th>
          <th>title</th>
          <th>Description</th>
          <th>Actions</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postData">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <a [routerLink]="['edit-post', post.id]" class="btn btn-info"
              >Update</a
            >
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="handleDeletePost(post.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
