<nav class="nav">
  <ul class="navigation">
    <li class="navigation__item">
      <a
        routerLink="/auth"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Login</a
      >
    </li>
    <li class="navigation__item">
    <a
        routerLink="/auth/signup"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Signup</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Home</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/users"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Users</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/ngrx"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Ngrx</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/posts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Posts</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/observables"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >observables</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/subject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Subject</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/bootstrap"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Bootstrap</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/chart"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Charts</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/rxjs-tut"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navigation__link"
        >Rxjs</a
      >
    </li>
    <li class="navigation__item">
      <a routerLink="/forms" routerLinkActive="active" class="navigation__link"
        >Forms</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/reactive-forms"
        routerLinkActive="active"
        class="navigation__link"
        >Reactive Forms</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/ngfor-tut"
        routerLinkActive="active"
        class="navigation__link"
        >ngFor tutorial</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/binding"
        routerLinkActive="active"
        class="navigation__link"
        >Bindings</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/pipe-tutorial"
        routerLinkActive="active"
        class="navigation__link"
        >Pipes</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/lifecycle-hooks"
        routerLinkActive="active"
        class="navigation__link"
        >Lifecycle Hooks</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/ng-template"
        routerLinkActive="active"
        class="navigation__link"
        >ng template</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/ng-container"
        routerLinkActive="active"
        class="navigation__link"
        >ng container</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/ng-content"
        routerLinkActive="active"
        class="navigation__link"
        >ng content</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/custom-directive"
        routerLinkActive="active"
        class="navigation__link"
        >Custom directives</a
      >
    </li>
    <li class="navigation__item">
      <a
        routerLink="/dom-manipulation"
        routerLinkActive="active"
        class="navigation__link"
        >Dom manipulation</a
      >
    </li>
  </ul>
</nav>
