<div class="row">
  <div class="col-md-12">
    <div class="display-3">Add Post</div>
    <hr />
    <form class="form" [formGroup]="postForm" (ngSubmit)="handleAddPost()">
      <div class="mb-3 form-group">
        <label for="title" class="label">Title: </label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="title"
          class="form-control"
          formControlName="title"
        />
        <div class="errors">{{ getTitleErrors() }}</div>
      </div>
      <div class="mb-3 form-group">
        <label for="description" class="label">Description: </label>
        <textarea
          type="text"
          name="description"
          id="description"
          placeholder="description"
          class="form-control"
          formControlName="description"
        ></textarea>
        <div class="errors">{{ getDescriptionErrors() }}</div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="postForm.invalid"
        >
          Add Post
        </button>
      </div>
    </form>
  </div>
</div>
